<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">{{ product.category }}</text>
          </svg>
          <div class="card-body">
            <p class="card-text">{{ product.productName }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a [routerLink]="['/edit', product.id]"><button type="button"
                    class="btn btn-sm btn-outline-secondary">Edit</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  (click)="deleteProduct(product.id)">Delete</button>
              </div>
              <small class="text-muted">{{ product.price }} Bath</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>